.shop-car-container {
  padding: 72upx 32upx;
  padding-bottom: 130upx;
  box-sizing: border-box;
}
.shop-car-container .icon {
  width: 34upx;
  height: 34upx;
  flex-shrink: 0;
  margin-right: 24upx;
}
.shop-car-container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.shop-car-container .header h2,
.shop-car-container .header .edit {
  font-weight: normal;
  color: #000;
  font-size: 32upx;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  line-height: 1;
  font-weight: 500;
}
.shop-car-container .header h2 {
  flex: 1;
  margin-left: 16upx;
}
.shop-car-container .header .edit {
  padding: 0 4upx;
}
.shop-car-container .shop-list .shop-car-list {
  margin-bottom: 20px;
}
.shop-car-container .shop-list .shop-card-name {
  font-size: 24upx;
  padding: 20upx 0;
  margin-top: 30upx;
  font-weight: bold;
  border-bottom: 1upx solid #cdcdcd;
  display: flex;
  align-items: center;
}
.shop-car-container .shop-list .shop-card-name .icon {
  margin-right: 10upx;
}
.shop-car-container .shop-list .goods-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-top: 30upx;
}
.shop-car-container .shop-list .no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 180upx;
  color: #999999;
  font-size: 36upx;
  letter-spacing: 2px;
}
.shop-car-container .j-line-title {
  margin-bottom: 44upx;
  margin-top: 120upx;
}
.shop-car-container .shop-car-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 112upx;
  background-color: #fff;
  padding: 0 40upx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  transition: all 350ms;
}
.shop-car-container .shop-car-footer.show {
  bottom: -112upx;
}
.shop-car-container .shop-car-footer .text {
  font-size: 28upx;
  color: #3d3d3d;
}
.shop-car-container .shop-car-footer .choose-all {
  display: flex;
  align-items: center;
}
.shop-car-container .shop-car-footer .edit-op {
  display: flex;
  align-items: center;
}
.shop-car-container .shop-car-footer .edit-op .totoal-price {
  color: #FA5151;
  font-size: 36upx;
  font-weight: bold;
}
.shop-car-container .shop-car-footer .edit-op .pay-btn {
  width: 200upx;
  height: 72upx;
  background-color: #FA5151;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 36upx;
  color: #fff;
  margin-left: 34upx;
}
.shop-car-container .shop-car-footer .confirm-op {
  display: flex;
  align-items: center;
}
.shop-car-container .shop-car-footer .confirm-op .op-btn {
  width: 180upx;
  height: 68upx;
  border-radius: 100px;
  border: 1upx solid #999;
  color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 28upx;
}
.shop-car-container .shop-car-footer .confirm-op .op-btn:nth-child(1) {
  margin-right: 56upx;
}
